body{
    background: linear-gradient(45deg, rgb(48, 6, 33) 10%, rgba(0,0,0,1) 53%);    
    height: 100vh;
}

#container {
    background: white;    

    width: 400px;
    height: 120px;
    overflow: hidden;
    border: 1px solid deeppink;
    marging: 10px;
  }
  
  #container > div {
    width: 10000px;
    height: 120px;
    white-space: nowrap;
  }
  
  #controls {
    padding: 15px;
  }
  
  #controls > button {
    margin: 5px;
  }
  
  .scroll {
    transition: transform 5s linear, opacity 0.5s ease-out;
  }
  
  .scrolling {
    transform: translate(-400px, 0);
  }

  .scrolled{
    
  }
  
  .correct {
    opacity: 0;
  }
  
  .too-slow {
    transform: translate(-400px, 2000px);
  }